/* font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif; */

body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(243, 243, 223, 0.6) 0%,
    rgb(205, 221, 243) 74.6%
  );
}
form {
  margin-bottom: 30px;
}
hr {
  color: #27214260;
}
h1 {
  font-size: 45px;
  color: #272142;
  font-family: "Signika Negative", sans-serif;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #272142;
}
p {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  color: #3e375dbe;
}
a {
  text-decoration: none;
}
.weather-forecast-width {
  min-width: 350px;
  max-width: 700px;
  margin: 50px auto;
}
.weather-forecast {
  border: 1px solid #27214260;
  padding: 30px;
  border-radius: 10px;
}
#search-city-input {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 45px;
  padding: 20px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #3e375dbe;
}

#current-location-btn,
#search-btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 45px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #272142;
  background: rgba(130, 175, 238, 0.345) 74.6%;
}
#current-location-btn:hover,
#search-btn:hover {
  background: rgba(130, 175, 238, 0.577) 74.6%;
}
#temperature {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
}
.unit {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  position: relative;
  top: 15px;
  left: -10px;
}
#weather-description::first-letter {
  text-transform: capitalize;
}
